html {
  min-height: 100vh;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

body {
  background-color: transparent;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  font-weight: 900;
  margin-bottom: 3rem;
}

.number-guesser {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.credentials {
  position: absolute;
  top: 0;
  left: 0;
}

.hint {
  margin-top: 3rem;
}